/* some style */

body{
    background: #222;
    color: #ddd;
}

.row{
    display: flex;
}

.box{
    background: inherit;
    color: inherit;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    margin: 0.1em;
    font-size: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    font-family: monospace;
    cursor: pointer;
}

.box:hover{
    color: #5d5;
    border: 1px solid green;
}

